config ARCH
	symbol
	default mips


config	ARCH_PARAMS
	bool
	default ARCH_MIPS
	select DMA_STREAMING

config	ENDIAN_BIG
	bool
config	ENDIAN_LITTLE
	bool
config	CPU_HAS_SYNC
	bool
config	WAIT_BROKEN
	bool

config	MIPS32
	bool

config	CPU_MIPS32R2
	bool "MIPS32 Release 2"
	select MIPS32
	select CPU_HAS_SYNC

config	CPU_24KC
	bool "24Kc"
	select CPU_MIPS32R2

config	CPU_INTERAPTIV
	bool
	select CPU_MIPS32R2
	select MIPS_GIC
	select MIPS_CPS
	select MIPS_CM

config	BITS
	int
	default 32 if MIPS32

config	C0_COUNTER_DISABLED
	bool
	default n

config	MIPS_CM
	bool "MIPS Coherence Manager" if n
config	MIPS_CPC
	bool "MIPS Cluster Power Control" if n
config	MIPS_CPS
	bool "MIPS Coherent Processing System" if n
	select MIPS_CPC
	select MIPS_CM

config	SMP_CPS
	bool
	depends on MIPS_CPS
	depends on SMP
	default y


source arch/mips/Kconfig.mach
source arch/mips/Kconfig.socs

menu "MIPS options"

config	ABI_EABI
	bool "Use EABI"
	default y

comment "Memory"
config	PHYS_ADDR
	hex
	default 0x80000000

config	VIRT_ADDR
	hex
	default 0x80000000

config	TEXT_OFFSET
	hex "Start of kernel image relatively to the start of the RAM"
	default 0x00008000

config	LOAD_OFFSET
	hex "kernel image's load offset"
	default TEXT_OFFSET

endmenu
