config MACH
	symbol
	default stm32

config	MACH_PARAMS
	bool
	default y
	select SOC_STM32

choice
	prompt "Boards selection"

	config STM32F103_BLUEPILL
	bool "stm32f103-bluepill"
	select STM32F10X
	select STM32_HSE_8MHZ

	config STM32F429_DISCO
	bool "stm32f429-disco"
	select STM32F429
	select STM32_HSE_8MHZ
	select SDRAM

	config STM32F746_DISCO
	bool "stm32f746-disco"
	select STM32F746
	select STM32_HSE_25MHZ

endchoice
