menu "JZ4780"

config	SOC
	symbol
	default	jz4780

config	SOC_PARAMS
	bool
	default y
	select HAS_SMP
	select WAIT_BROKEN
	select C0_COUNTER_DISABLED

config	JTAG_ENABLE
	bool "Enable JTAG"
	default y

endmenu
