mainmenu "OS configuration"

choice
	prompt "Architecture"
	default	ARCH_ARM

config ARCH_ARM
	bool "ARM"

config ARCH_MIPS
	bool "MIPS"

endchoice


if ARCH_ARM
source arch/arm/Kconfig
endif
if ARCH_MIPS
source arch/mips/Kconfig
endif


menu "Build options"

config BUG
	bool "BUG() support"
	default y

config GC_SECTIONS
	bool "Sections GC"

config GC_SECTIONS_SHOW
	bool "Show sections GCed"
	depends on GC_SECTIONS

config	REMOVE_INIT_SECTIONS
	bool "Remove init sections when not needed anymore"
	default y

config	CROSS_COMPILE
	symbol "Cross compile prefix"

endmenu


menu "OS options"

config	NEED_INTERRUPT_STACK
	bool "is an interrupt stack needed?"
	default n

config	INTERRUPT_STACK_SIZE
	int "Interrupt stack size"
	depends on NEED_INTERRUPT_STACK
	default 4096

config	EXCEPTION_STACK_SIZE
	int "Exception stack size"
	default 4096

config	STARTUP_STACK_SIZE
	int "startup stack size"
	depends on !FIXED_STACKS
	default 4096

config	STACK_ALIGNMENT
	int "Stacks alignment"
	default 16

config	NR_THREAD_PRIORITY
	int "Number of threads priority levels"
	range 2 32
	default 32

config	FIXED_STACKS
	bool "Use the same size for all stacks"
	default y

config	FIXED_STACKS_SHIFT
	int "Size of the stacks, in power of 2"
	depends on FIXED_STACKS
	range 12 14
	default 14

config	SOFTIRQ
	bool "Need softirq?"
	default n

config	KSOFTIRQ
	bool "Use a specific thread for delaying softirq"
	depends on SOFTIRQ
	default n
	
config	DSR
	bool "Want DSR?"
	depends on SOFTIRQ
	default n

config	HAS_SMP
	bool
	default n

config	SMP
	bool "SMP support"
	depends on HAS_SMP
	default y

config	HZ
	int "tick frequency"
	default 100

config	BOOT
	bool "Direct boot, without a bootloader"
	default y

endmenu

source mm/Kconfig
source net/Kconfig
source kernel/time/Kconfig

source drivers/Kconfig

source kernel/debug/Kconfig
