mainmenu "OS configuration"

choice
	prompt "Architecture"
	default	ARCH_ARM

config ARCH_ARM
	bool "ARM"

endchoice


if ARCH_ARM
source arch/arm/Kconfig
endif


menu "Build options"

config GC_SECTIONS
	bool "Sections GC"

config GC_SECTIONS_SHOW
	bool "Show sections GCed"
	depends on GC_SECTIONS

config VIRT_ADDR
	hex "Kernel virtual start address"
	default 0xC0000000

config TEXT_OFFSET
	hex "Kernel text offset"
	default 0x00008000

endmenu


config	INTERRUPT_STACK_SIZE
	int "Interrupt stack size"
	default 4096

config	EXCEPTION_STACK_SIZE
	int "Exception stack size"
	default 4096

config	STARTUP_STACK_SIZE
	int "startup stack size"
	default 4096

config	STACK_ALIGNMENT
	int "Stacks alignment"
	default 16

config	NR_THREAD_PRIORITY
	int "Number of threads priority levels"
	range 2 32
	default 32

