menu "Timers"

source kernel/time/Kconfig


config	ARM_GENERIC_TIMER
	bool "ARM generic timer"
	depends on ARMV7A || ARCH_ARM64
	default n

config	CNTFRQ
	int "Generic timer frequency"
	depends on ARM_GENERIC_TIMER


config	MIPS_ARCH_TIMER
	bool "MIPS architectural timer"
	depends on ARCH_MIPS
	depends on !C0_COUNTER_DISABLED
	default y

config	MIPS_GIC_TIMER
	bool "MIPS GIC's timer"
	depends on MIPS_GIC
	default y

endmenu
