config MACH
	symbol
	default beaglebone

config	MACH_PARAMS
	bool
	default y
	select CORTEX_A8
	select SOC_AM335X

config PHYS_ADDR
	hex
	default 0x80000000
config PHYS_SIZE
	hex
	default 0x10000000

config EARLY_DEBUG_ADDR
	hex
	default 0x44e00000
