config SOC_AM335X
	bool
config SOC_IMX6
	bool
config SOC_STM32
	bool
config SOC_STM32F4
	bool
	select SOC_STM32
config SOC_SUNXI
	bool
config SOC_SUNXI_A80
	bool
	select SOC_SUNXI

menu "SoC options"
if SOC_IMX6
source arch/arm/soc-imx6/Kconfig
endif
if SOC_STM32
source arch/arm/soc-stm32/Kconfig
endif
if SOC_SUNXI_A80
source arch/arm/soc-sunxi-a80/Kconfig
endif
endmenu
