config ARCH
	symbol
	default arm

source arch/arm/Kconfig.mach

config	ARM720T
	bool
	select ARMV4T

config	ARM7TDMI
	bool
	select ARMV4T

config	ARM926E
	bool
	select ARMV5

config	ARM926EJS
	bool
	select ARMV5
	select ARMV5TE


config	ARMV4T
	bool
config	ARMV5
	bool
config	ARMV5T
	bool
config	ARMV5TE
	bool
config	CORTEX_A8
	bool


comment "Memory"
config	VIRT_ADDR
	hex "Main RAM virtual address"
	default 0x80000000

config	TEXT_OFFSET
	hex "Start of kernel image relatively to the start of the RAM"
	default 0x00008000
