config ARCH
	symbol
	default arm


config	ARM720T
	bool
	select ARMV4T

config	ARM7TDMI
	bool
	select ARMV4T

config	ARM926E
	bool
	select ARMV5

config	ARM926EJS
	bool
	select ARMV5
	select ARMV5TE

config	CORTEX_A8
	bool
	select ARMV7
config	CORTEX_A9
	bool
	select ARMV7


config	ARMV4T
	bool
config	ARMV5
	bool
config	ARMV5T
	bool
	select ARMV5
config	ARMV5TE
	bool
	select ARMV5T
config	ARMV6
	bool
config	ARMV6K
	bool
	select ARMV6
config	ARMV7
	bool

config	ARM_ARCH
	int
	default 4 if ARMV4T
	default 5 if ARMV5
	default 6 if ARMV6
	default 7 if ARMV7

config	BITS
	int
	default 32

source arch/arm/Kconfig.mach
source arch/arm/socs/Kconfig

comment "Memory"
config	VIRT_ADDR
	hex "Main RAM virtual address"
	default 0x80000000

config	TEXT_OFFSET
	hex "Start of kernel image relatively to the start of the RAM"
	default 0x00008000

comment "Misc"
config	HAS_VBAR
	bool "Has VBAR"
	depends on ARMV6K || ARMV7
config	HIGH_VECTORS
	bool "Use high vectors"
	depends on !HAS_VBAR
	default y
