choice
	prompt "Platform"
	default	MACH_BEAGLEBONE

config MACH_ARM_GENERIC
	bool "generic"
config MACH_BEAGLEBONE
	bool "BeagleBone"

config MACH_CUBIEBOARD4
	bool "Cubieboard"

config MACH_ORANGEPI_ZERO
	bool "Orange Pi Zero"

config MACH_RASPBERRY_PI
	bool "Raspberry-pi"

config MACH_STM32
	bool "STM32 family"

config MACH_UDOO_NEO
	bool "UDOO Neo"

endchoice

if MACH_BEAGLEBONE
source arch/arm/mach-beaglebone/Kconfig
endif
if MACH_CUBIEBOARD4
source arch/arm/mach-cubieboard4/Kconfig
endif
if MACH_RASPBERRY_PI
source arch/arm/mach-raspberry-pi/Kconfig
endif
if MACH_STM32
source arch/arm/mach-stm32/Kconfig
endif
if MACH_UDOO_NEO
source arch/arm/mach-udoo-neo/Kconfig
endif
if MACH_ORANGEPI_ZERO
source arch/arm/mach-orangepi-zero/Kconfig
endif
