config ARCH
	symbol
	default arm

choice
	prompt "Machine"
	default	MACH_XXX

config MACH_XXX
	bool "xxx"
	select ARM7TDMI

endchoice

config MACH
	symbol
	default xxx if MACH_XXX

if MACH_XXX
source arch/arm/mach-xxx/Kconfig
endif

config	ARM720T
	bool
	select ARMV4T

config	ARM7TDMI
	bool
	select ARMV4T


config	ARMV4T
	bool
