menu "Memory Management"

config NOMMU
	bool
	default n
config MMU
	def_bool !NOMMU

config MM_PAGE
	bool "Manage memory into pages"
	default y

config SLAB
	bool "Slab-like allocator"
	default y

endmenu
