config  SOC
        symbol
        default stm32

config	SOC_PARAMS
	bool
	default y

config PHYS_ADDR
	hex
	default 0x20000000

config PHYS_SIZE
	hex "SRAM size"
	default 0x00020000

config LOWPOWER_DEBUG
	bool "Allow debugging while in low-power mode"
	default y

# models
config	STM32F4XX
	bool
	select CORTEX_M4
config	STM32F407
	bool
	select STM32F4XX
config	STM32F429
	bool
	select STM32F4XX

# clock configuration

config	STM32_HSE_8MHZ
	bool
config	STM32_HSE_12MHZ
	bool

config	STM32_HSE_FREQ
	int
	default 8 if STM32_HSE_8MHZ
	default 12 if STM32_HSE_12MHZ
	default 0

config	STM32_PLL_MAX
	int
	default 168 if STM32F407
	default 180 if STM32F429
config	STM32_CLK_MAX
	int
	default 168 if STM32F407
	default 180 if STM32F429


choice
	prompt "Diagnostic port"

config	STM32_DIAG_NONE
	bool "None"

config	STM32_DIAG_USART1_PA9_PA10
	bool "USART1 on PA9 & PA10"

config	STM32_DIAG_USART3_PB10_PB11
	bool "USART3 on PB10 & PB11"

endchoice
config	STM32_DIAG
	bool
	default !STM32_DIAG_NONE
