config	SOC
	symbol
	default bcm283x

config	SOC_BCM2835_PARAMS
	bool
	default SOC_BCM2835
	select ARM1176JZFS

config PHYS_ADDR
	hex
	default 0x00000000
config PHYS_SIZE
	hex "RAM size"
	default 0x0c000000

config EARLY_DEBUG
	bool "early debug"

config EARLY_DEBUG_ADDR
	hex "early debug IO address"
	depends on EARLY_DEBUG
	default 0x20200000
