config MACH
	symbol
	default orangepi-zero

config	MACH_PARAMS
	bool
	default y
	select SOC_SUNXI_H3

config PHYS_ADDR
	hex
	default 0x40000000

config PHYS_SIZE
	hex
	default 0x10000000

config	EARLY_DEBUG_ADDR
	hex
	default 0x01C28000
